@{
    ViewData["Title"] = "Home";
}

<div id="homePage" class="text-center text-capitalize  text-black">
    <h1 class="display-4">Welcome To ETF Analyzer</h1>
    <p class="display-6">Here you can earn of investing in ETFs.</p>
</div>
